.main
{
    background-color: #FAEBD7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

.post {
    margin: 20px 0;
    padding: 20px;
    border-top: 2px solid black;
}